.myReadOnlyTextArea{
    margin-left: 20%;
    margin-top: 10%;
    border: 2px solid black;
    background-color: #fff !important;
    width: 600px;
    height: 100px;
}

.myWriteOnlyTextArea{
    margin-left: 24.8%;
    margin-top: 2%;
    border: 1px solid black;
}

#main-content{
    display: flex;
}

#timer #time{
    margin-top: 100px;
}

#timerOptions{
    margin-left: 38%;
    margin-top: 2%;
}

#controlButtons{
    margin-left: 29%;
    margin-top: 2%;
}

#pause-btn{
    margin-right: 45px;
}

#reset-btn{
    margin-right: 120px;
}

#chooseTime{
    border: 2px solid blue;
    border-radius: 3px;
}

.myTextCorrect {
    color: rgb(0, 255, 0);
}

.myTextIncorrect{
    color: rgb(255, 20, 20);
}

.current_value_property{
    background-color: black;
    color: white;
}