.myReadOnlyTextArea{
    margin-left: 20%;
    margin-top: 10%;
    border: 2px solid black;
    background-color: #fff !important;
    width: 600px;
    height: 200px;
    /* overflow-y: scroll; */
    line-height: 2;
}

.myWriteOnlyTextArea{
    margin-left: 24.8%;
    margin-top: 2%;
    border: 1px solid black;
}

#main-content{
    display: flex;
}

.circle{
    border: 3px solid greenyellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin-top: 130px;
}

.timerCircleProperties{
    border: 3px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin-top: 130px;
}

#timer #time{
    margin-top: 30%;
    font-size: 30px;
}

#timerOptions{
    margin-left: 38%;
    margin-top: 2%;
}

#controlButtons{
    margin-left: 29%;
    margin-top: 2%;
    margin-bottom: 120px;
}

#pause-btn{
    margin-right: 45px;
}

#reset-btn{
    margin-right: 120px;
}

#chooseTime{
    border: 2px solid blue;
    border-radius: 3px;
}

.myTextCorrect {
    color: rgb(0, 255, 0);
}

.myTextIncorrect{
    color: rgb(255, 20, 20);
}

.myTextSpaceIncorrect{
    background-color: red;
}

.current_value_property{
    background-color: black;
    color: white;
}

#displayResult{
    margin-left: 10%;
    margin-bottom: 50px;
    border: 4px solid black;
    width: 55%;
    border-radius: 30px;
}

#main_stats{
    margin-top: 30px;
    margin-bottom: 120px;
}

#share_stats{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-size: 21px;
    margin-bottom: 25px;
    color: black;
}

a:hover{
    font-size: 21.5px;
    color: red;
}

#result_content{
    margin-top: 45px;
}

h6{
    margin-bottom: 27px;
}